{% extends 'layout.html.twig'%}

{%  block body %}
    <!--Parti uniquement visible sur tablette et ordinateur -->

    <!-- ////////////////////////  Filtre  ///////////////////////////////////-->
    {% if  message  == "CLIQUEZ POUR COMMENCER" %}

    <div id="divGlobale">
        <div id="divAccueilPhone">
                            {% if hotesse == true %}
                        <a class="hide" href="{{ path('halloween') }}"><div id="word">
                            {% else %}
                        <a class="hide" href="{{ path('inscription') }}"><div id="word">
                            {% endif %}

                    <div id="letters">
                        <span class="letter">C</span>
                        <span class="letter">L</span>
                        <span class="letter">I</span>
                        <span class="letter">Q</span>
                        <span class="letter">U</span>
                        <span class="letter">E</span>
                        <span class="letter">Z</span>
                        <span class="cacher">-</span>
                        <span class="letter">P</span>
                        <span class="letter">O</span>
                        <span class="letter">U</span>
                        <span class="letter">R</span>
                        <span class="cacher">-</span>
                        <span class="letter">C</span>
                        <span class="letter">O</span>
                        <span class="letter">M</span>
                        <span class="letter">M</span>
                        <span class="letter">E</span>
                        <span class="letter">N</span>
                        <span class="letter">C</span>
                        <span class="letter">E</span>
                        <span class="letter">R</span>
                    </div>
                </div></a>    </div>

        <div id="divAccueilTablette">
            {% if hotesse == true %}
            <a class="hide" href="{{ path('halloween') }}"><div id="word">
                    {% else %}
                    <a class="hide" href="{{ path('inscription') }}"><div id="word">
                            {% endif %}
                        <div id="letters">
                            <span class="letter">C</span>
                            <span class="letter">L</span>
                            <span class="letter">I</span>
                            <span class="letter">Q</span>
                            <span class="letter">U</span>
                            <span class="letter">E</span>
                            <span class="letter">Z</span>
                            <span class="cacher">-</span>
                            <span class="letter">P</span>
                            <span class="letter">O</span>
                            <span class="letter">U</span>
                            <span class="letter">R</span>
                            <span class="cacher">-</span>
                            <span class="letter">C</span>
                            <span class="letter">O</span>
                            <span class="letter">M</span>
                            <span class="letter">M</span>
                            <span class="letter">E</span>
                            <span class="letter">N</span>
                            <span class="letter">C</span>
                            <span class="letter">E</span>
                            <span class="letter">R</span>
                        </div>
                </div></a>
        </div>
        <div id="divAccueilOrdi">
            {% if hotesse == true %}
            <a class="hide" href="{{ path('halloween') }}"><div id="word">
                    {% else %}
                    <a class="hide" href="{{ path('inscription') }}"><div id="word">
                            {% endif %}
                    <div id="letters">
                        <span class="letter">C</span>
                        <span class="letter">L</span>
                        <span class="letter">I</span>
                        <span class="letter">Q</span>
                        <span class="letter">U</span>
                        <span class="letter">E</span>
                        <span class="letter">Z</span>
                        <span class="cacher">-</span>
                        <span class="letter">P</span>
                        <span class="letter">O</span>
                        <span class="letter">U</span>
                        <span class="letter">R</span>
                        <span class="cacher">-</span>
                        <span class="letter">C</span>
                        <span class="letter">O</span>
                        <span class="letter">M</span>
                        <span class="letter">M</span>
                        <span class="letter">E</span>
                        <span class="letter">N</span>
                        <span class="letter">C</span>
                        <span class="letter">E</span>
                        <span class="letter">R</span>
                    </div>
                </div></a>
        </div>
    </div>
    {% else %}
        <h3 align="center">{{ message }}</h3><br>
        <h3 align="center">{{ date }}</h3>

    {% endif %}
{% endblock %}
{% block title %}Accueil{% endblock %}