{% extends 'layout.html.twig'%}

{%  block main %}

    <div id="divAccueilPhone">
        <img id="fantome1" onclick="ani('fantome1')" class="fantome1" src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome2" onclick="ani('fantome2')" class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
    </div>

    <div id="divAccueilTablette">
        <img id="fantome3" onclick="ani('fantome3')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome4" onclick="ani('fantome4')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome3b" onclick="ani('fantome3b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome4b" onclick="ani('fantome4b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
    <div id="divAccueilOrdi">
        <img id="fantome5" onclick="ani('fantome5')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome6" onclick="ani('fantome6')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome5b" onclick="ani('fantome5b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome6b" onclick="ani('fantome6b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
    <h2 id="phraseFin2" class="">Choisissez un fantome, cliquer dessus et découvrez votre résultat</h2>
    <div class="classHide" id="divResultat2"><h2 class="classHide" id="resultatTirage">{{ genre }} {{ nom }}, vous participez au tirage au sort pour gagner 1 bon d'achat de 20€</h2></div>

{% endblock %}
{% block title %}Jeux{% endblock %}
