{% extends 'layout.html.twig'%}

{%  block body %}
    <script type="text/javascript">
        function ani($idFantome){
            if($idFantome === 'fantome1'){
                document.getElementById('fantome1').className ='classGagnant1';
            } else { document.getElementById('fantome1').onclick = null ;}
            if($idFantome === 'fantome2'){
                document.getElementById('fantome2').className ='classGagnant2';
            } else { document.getElementById('fantome2').onclick = null ;}
            if($idFantome === 'fantome3'){
                document.getElementById('fantome3').className ='classGagnant3';
            } else { document.getElementById('fantome3').onclick = null ;}
            if($idFantome === 'fantome4'){
                document.getElementById('fantome4').className ='classGagnant4';
            } else { document.getElementById('fantome4').onclick = null ;}
            if($idFantome === 'fantome3b'){
                document.getElementById('fantome3b').className ='classGagnant3b';
            } else { document.getElementById('fantome3b').onclick = null ;}
            if($idFantome === 'fantome4b'){
                document.getElementById('fantome4b').className ='classGagnant4b';
            } else { document.getElementById('fantome4b').onclick = null ;}
            if($idFantome === 'fantome5'){
                document.getElementById('fantome5').className ='classGagnant5';
            } else { document.getElementById('fantome5').onclick = null ;}
            if($idFantome === 'fantome6'){
                document.getElementById('fantome6').className ='classGagnant6';
            } else { document.getElementById('fantome6').onclick = null ;}
            if($idFantome === 'fantome5b'){
                document.getElementById('fantome5b').className ='classGagnant5b';
            } else { document.getElementById('fantome5b').onclick = null ;}
            if($idFantome === 'fantome6b'){
                document.getElementById('fantome6b').className ='classGagnant6b';
            } else { document.getElementById('fantome6b').onclick = null ;}
            document.getElementById('phraseFin').className ='classHide';

            /*    BOUTON DE RETOUR   s'affiche après 10 sec  */
            /*affichage du message de tirage au sort après 10 sec */
            myFunction();
            function myFunction() {
                setInterval(function(){
                    document.getElementById('divResultatPhoto').className = "neutre";
                    document.getElementById('id_button').className = "btn_class";
                    document.getElementById('imgResultat').className ="bonAchatGagnant";
                    }, 2500);
            }
            // redirection vers la page d'accueil après 10 seconde
            retour();
            function retour() {
                setInterval(function(){
                    {% if resultat == 'photos/bon_achat/PERDU.png' %}
                        window.location.href = '{{ path('accueilHalloween') }}';
                    {%  endif %}
                    }, 15000);
            }
        }

    </script>
    <div id="divAccueilPhone">
        <img id="fantome1" onclick="ani('fantome1')" class="fantome1" src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome2" onclick="ani('fantome2')" class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
    </div>

    <div id="divAccueilTablette">
        <img id="fantome3" onclick="ani('fantome3')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome4" onclick="ani('fantome4')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome3b" onclick="ani('fantome3b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome4b" onclick="ani('fantome4b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
    <div id="divAccueilOrdi">
        <img id="fantome5" onclick="ani('fantome5')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome6" onclick="ani('fantome6')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome5b" onclick="ani('fantome5b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome6b" onclick="ani('fantome6b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
        <a href="{{ path('accueilHalloween') }}" ><button id="id_button" class="classHide"  >RETOUR</button></a>

        <div class="classHide"  id="divResultatPhoto"><img id="imgResultat" class="classHide" src="{{ asset( resultat ) }}" alt=""></div>
        <h3 id="phraseFin" class="" >Choisissez un fantome, cliquer dessus et découvrez votre résultat</h3>


{% endblock %}
{% block title %}Jeux{% endblock %}
