{% extends 'layout.html.twig'%}

{%  block main %}
    {% if resultat == 'photos/bon_achat/PERDU.png' %}
        <div class="js-user-rating" data-is-authenticated='true'>
            <!-- ... -->
        </div>
      {%  endif %}
    <div id="divAccueilPhone">
        <img id="fantome1" onclick="ani2('fantome1')" class="fantome1" src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome2" onclick="ani2('fantome2')" class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
    </div>

    <div id="divAccueilTablette">
        <img id="fantome3" onclick="ani2('fantome3')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome4" onclick="ani2('fantome4')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome3b" onclick="ani2('fantome3b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome4b" onclick="ani2('fantome4b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
    <div id="divAccueilOrdi">
        <img id="fantome5" onclick="ani2('fantome5')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome1.png') }}" alt="">
        <img id="fantome6" onclick="ani2('fantome6')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome5.png') }}" alt="">
        <img id="fantome5b" onclick="ani2('fantome5b')"  class="fantome1"  src="{{ asset('photos/Halloween/fantome_fantome4-05.png') }}" alt="">
        <img id="fantome6b" onclick="ani2('fantome6b')"  class="fantome2"  src="{{ asset('photos/Halloween/fantome_fantome3.png') }}" alt="">
    </div>
        <a href="{{ path('accueilHalloween') }}" ><button id="id_button" class="classHide"  >RETOUR</button></a>

        <div class="classHide"  id="divResultatPhoto"><img id="imgResultat" class="classHide" src="{{ asset( resultat ) }}" alt=""></div>
        <h3 id="phraseFin" class="" >Choisissez un fantôme, cliquer dessus et découvrez votre résultat</h3>

{% endblock %}
{% block title %}Jeux{% endblock %}
